body{
   padding: 0;
   margin: 0;
  
}
 .content{
    display: flex;
    flex-direction: column;
    gap :20px;
    justify-content: center;
    align-items: center;
    height: 100vh; 
 }
 .result button{
    border-radius: 3px solid black;
    padding: 10px  
 }

